body {
background-color:hsl(0, 0%, 81%);
}
p {
  font-family:'Times New Roman', Times, serif ;
  font-weight:500;
  font-style: oblique;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: left;
  text-indent: 40px;
  line-height: 1.4;
  word-spacing: 10px;
  text-shadow: 1px 2px 2px rgb(0, 0, 0);
}